body {
    font-family: "Arial", sans-serif;
    background-color: #4f5c63;
}

section {
    text-align: center;
}

.game--title {
    font-size: 75px;
    color: #d7a62f;
    margin: 3px auto;
}

.game--container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, auto);
    width: 637px;
    height: 548px;
    margin: 10px auto;
    background-color: #11213a;
}

.cell {
    background-color: #a4b9b9;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.game--status {
    font-size: 50px;
    color: #d7a62f;
    margin: 20px auto;
}

.creategame {
    border-radius: 5px;
    background-color: #a4b9b9;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    cursor: pointer;
}

.joingame {
    border-radius: 5px;
    background-color: #a4b9b9;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    cursor: pointer;
}

.txtinput {
    /* background-color: #d5d5d5;
    border: 1px solid #11213a;
    visibility: hidden; */
    border-radius: 5px;
    background-color: #a4b9b9;
    width: 200px;
    height: 44px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    text-align: center;
}