body {
    font-family: "Arial", sans-serif;
    background-color: #2B303A;
}

section {
    text-align: center;
}

.game--title {
    font-size: 75px;
    /* color: #F7B32B; */
    color: #F7B32B;
    margin: 3px auto;
}

.game--container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, auto);
    width: 637px;
    height: 548px;
    margin: 10px auto;
    background-color: #000000;
}

.cell {
    background-color: #E1E0E0;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.game--status {
    font-size: 50px;
    color: #F7B32B;
    margin: 20px auto;
}

.creategame {
    border-radius: 5px;
    background-color: #E1E0E0;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    cursor: pointer;
    /* color: #d92739 */
}

.joingame {
    border-radius: 5px;
    background-color: #E1E0E0;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    cursor: pointer;
    opacity: .5;
}

.txtinput {
    border-radius: 5px;
    background-color: #E1E0E0;
    width: 200px;
    height: 44px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    text-align: center;
}

.quitgame {
    border-radius: 5px;
    background-color: #E1E0E0;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    cursor: pointer;
    display: none;
}

.timer {
    border-radius: 5px;
    background-color: #E1E0E0;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #11213a;
    border: 2px solid #11213a;
    display: none;
}